# See https://help.github.com/ignore-files/ for more about ignoring files.

# node modules
backend/node_modules
frontend/node_modules

# Environment variables
backend/.env
frontend/.env

# HTTP files
backend/routes/tests

# testing
frontend/coverage

# production
frontend/build