# See https://help.github.com/ignore-files/ for more about ignoring files.

# node modules
backend/node_modules
frontend/node_modules

# Environment variables
.env
*/.env

# HTTP files
backend/routes/tests

# testing
frontend/coverage

# production
frontend/build
frontend/src/__css__/semantic

# deployment
Dockerrun.aws.json